/*nav part*/
nav{display: flex;align-items: center;justify-content: space-around;margin: 50px 200px;}
.logo{font-weight: bolder;font-size: 34px;}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*banner edits*/
.banner{text-align: center;}
.h2{font-size: 65px;}
/*header*/
.header{
    background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
/*shared part*/
.text-primary{color: #4E47FF;}
.btn-primary{background-color: #4E47FF;font-size: 16px;padding: 12px 36px;font-weight: bold;color: white;border-radius: 4px;border: none;}
.section-tittle{font-size: 42px;font-weight: bold;color: #252432;}
.section-description{font-size: 20px;color: #252432;}
.section-part{display: flex;gap: 203px;margin: 200px 100px;justify-content: center;}
.section-part-image{border-radius: 20px;}
.secondary-bg{color:#4E47FF ;}
.review-tittle{font-weight: bold;color: #252432;font-size: 38px; }
.review{background-color:#d2d0ff  ;border-radius: 10px;padding: 50px 80px;text-align: center;max-width: 1140px;margin: 50px 80px;}
.review-items{display: flex;justify-content: space-around;}
.review-item{font-size: 80px;color: #4E47FF;justify-content: center;text-align: justify}
.review-description{text-align: center;color:lightblue;}
/*main*/
main{max-width: 1140px;margin: 0 auto;}
/*focus*/
.focus-part{margin: 20px auto 70px;background-color: #FFFFFF;padding: 70px 150px;align-content: center;text-align: center;}
.focus-description{font-size: 10px;color: #252432;text-align: center;}
.focus-tittle{font-weight: bold;font-size: 50px;text-align: center;}
.focus-pic{align-items: center;border-radius:20px ;margin-top: 20px;margin-bottom: 70px;}

